a10/data2-io/src/main/resources/Document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
  targetNamespace="http://www.nilsreiter.de/xmlns/Document" xmlns="http://www.nilsreiter.de/xmlns/Document">

    
 
    <xsd:element name="root">
        <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="document" type="documentType"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="documentType">

      <xsd:sequence>

      	<xsd:element name="originaltext" type="xsd:string"
      		maxOccurs="1" minOccurs="1">
      	</xsd:element>

      	<xsd:element name="sentences" maxOccurs="1" minOccurs="1">

      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element name="sentence" type="sentenceType"
      					maxOccurs="unbounded" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="coreference" maxOccurs="1" minOccurs="1">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element name="entity" type="entityType"
      					maxOccurs="unbounded" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="singletons" maxOccurs="1"
      					minOccurs="0">
      					<xsd:complexType>
      						<xsd:sequence>
      							<xsd:element name="mention"
      								type="mentionType" maxOccurs="unbounded" minOccurs="0">
      							</xsd:element>
      						</xsd:sequence>
      					</xsd:complexType>
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="frames" maxOccurs="1" minOccurs="1">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element name="frame" type="frameType"
      					maxOccurs="unbounded" minOccurs="0">
      				</xsd:element>
      				<xsd:element name="order" type="orderType"
      					maxOccurs="1" minOccurs="1">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="chunks" maxOccurs="1" minOccurs="1">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element name="chunk" type="chunkType"
      					maxOccurs="unbounded" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="sections" maxOccurs="1" minOccurs="1">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element name="section" type="sectionType"
      					maxOccurs="unbounded" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="senses" maxOccurs="1" minOccurs="1">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element name="sense" type="senseType"
      					maxOccurs="unbounded" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="mantras" maxOccurs="1" minOccurs="0">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element name="mantra" type="mantraType"
      					maxOccurs="unbounded" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="events" maxOccurs="1" minOccurs="0">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element name="event" type="eventType"
      					maxOccurs="unbounded" minOccurs="0">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      </xsd:sequence>
      <xsd:attribute ref="id"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="sentenceType">

      <xsd:sequence>

        <xsd:element name="token" type="tokenType" maxOccurs="unbounded" minOccurs="1">
        </xsd:element>
      </xsd:sequence>

      <xsd:attribute ref="id"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="tokenType">


      <xsd:sequence>
        <xsd:element name="frame" type="frameRefType"
          maxOccurs="unbounded" minOccurs="0">
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="word" type="xsd:string"></xsd:attribute>

      <xsd:attribute name="lemma" type="xsd:string" use="required"></xsd:attribute>

      <xsd:attribute name="sense" type="xsd:IDREF"></xsd:attribute>

      <xsd:attribute name="characterOffsetBegin" type="xsd:int"></xsd:attribute>

      <xsd:attribute name="characterOffsetEnd" type="xsd:int"
        use="required">
      </xsd:attribute>

      <xsd:attribute name="governor" type="xsd:IDREF"></xsd:attribute>

      <xsd:attribute name="deprel" type="xsd:string"></xsd:attribute>
      <xsd:attribute ref="id"></xsd:attribute>
      <xsd:attribute name="pos" type="xsd:string" use="required"></xsd:attribute>
      <xsd:attribute ref="OldId"></xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="frameType">

      <xsd:sequence>


            <xsd:element ref="token"></xsd:element>
            <xsd:element name="frame_element" maxOccurs="unbounded"
      		minOccurs="0">

      		<xsd:complexType>
      			<xsd:sequence maxOccurs="unbounded" minOccurs="1">
      				<xsd:choice maxOccurs="unbounded" minOccurs="1">
      					<xsd:element name="mention"
      						type="mentionRefType" maxOccurs="unbounded" minOccurs="0">
      					</xsd:element>
      					<xsd:element name="token" type="tokenRefType"
      						maxOccurs="unbounded" minOccurs="0">
      					</xsd:element>
      					<xsd:element name="head" type="tokenRefType"
      						maxOccurs="1" minOccurs="0">
      					</xsd:element>
      				</xsd:choice>
      			</xsd:sequence>
      			<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
      			<xsd:attribute ref="id"></xsd:attribute>
      		</xsd:complexType>
      	</xsd:element>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
      <xsd:attribute ref="id"></xsd:attribute>
      <xsd:attribute ref="OldId"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="tokenRefType">

      <xsd:attribute name="idref" type="xsd:IDREF"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="chunkType">

      <xsd:sequence>

        <xsd:element name="token" type="tokenRefType"
          maxOccurs="unbounded" minOccurs="1">
        </xsd:element>
      </xsd:sequence>


      <xsd:attribute name="category" type="xsd:string"></xsd:attribute>
      <xsd:attribute ref="id"></xsd:attribute>
      <xsd:attribute name="sentence" type="xsd:IDREF"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="senseType">


      <xsd:attribute name="wordnet" type="xsd:string" use="required"></xsd:attribute>
      <xsd:attribute ref="id"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="sectionType">

      <xsd:sequence>
        <xsd:element name="sentence" type="sentenceRefType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      </xsd:sequence>
      <xsd:attribute ref="id"></xsd:attribute>
    </xsd:complexType>



    <xsd:attribute name="id" type="xsd:ID"></xsd:attribute>

    <xsd:complexType name="entityType">

      <xsd:sequence>

        <xsd:element name="sense" type="senseRefType" maxOccurs="1" minOccurs="0">
        </xsd:element>

        <xsd:element name="mention" type="mentionType" maxOccurs="unbounded" minOccurs="1">
        </xsd:element>
      </xsd:sequence>

      <xsd:attribute ref="id"></xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="senseRefType">

      <xsd:attribute name="idref" type="xsd:IDREF"></xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="mentionType">

      <xsd:sequence>

        <xsd:element name="token" type="tokenRefType" maxOccurs="unbounded" minOccurs="1">
        </xsd:element>

        <xsd:element name="fe" type="frameElementRefType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      </xsd:sequence>

      <xsd:attribute ref="id"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="frameElementRefType">
      
        <xsd:attribute name="idref" type="xsd:IDREF"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="mentionRefType">
      <xsd:attribute name="idref" type="xsd:IDREF"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="refType">
      <xsd:attribute name="idref" type="xsd:IDREF"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="frameRefType">
      <xsd:attribute name="idref" type="xsd:IDREF"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="orderType">
      <xsd:sequence>
        <xsd:element name="frame" type="frameRefType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="temporal"></xsd:enumeration>
            <xsd:enumeration value="textual"></xsd:enumeration>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="sentenceRefType">
      <xsd:attribute name="idref" type="xsd:IDREF"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="mantraType">
      <xsd:sequence>
        <xsd:element name="token" type="tokenRefType" maxOccurs="unbounded" minOccurs="1"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    </xsd:complexType>

    <xsd:attribute name="OldId" type="xsd:string"></xsd:attribute>


    <xsd:complexType name="eventType">
    	<xsd:sequence>
            <xsd:element ref="anchor"></xsd:element>
            <xsd:element name="argument" type="argumentType"
    			maxOccurs="unbounded" minOccurs="0">
    		</xsd:element>
    	</xsd:sequence>
    	<xsd:attribute ref="id"></xsd:attribute>
    	<xsd:attribute name="class" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="argumentType">
    	<xsd:sequence>
    		<xsd:element ref="target" maxOccurs="unbounded" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    	<xsd:attribute name="role" type="xsd:string"></xsd:attribute>
    </xsd:complexType>



    <xsd:element name="target" type="tokenRefType"></xsd:element>

    <xsd:element name="anchor" type="refType"></xsd:element>
    <xsd:element name="token" type="tokenRefType"></xsd:element>

</xsd:schema>